tags-input .tags {
	border: 1px solid #ccc;
	border-radius: 4px;
}

tags-input .autocomplete {
	border-radius: 4px;
}

.angucomplete-dropdown {
    border-color: #ccc;
    width: 100%;
    cursor: pointer;
    margin-top: 0px;
}

.angucomplete-selected-row {
    background-color: #0097cf;
}

.search {
	background-image: url('magnifying-glass.png');
    background-position: right 5px center;
    background-size: 20px;
    background-repeat: no-repeat;
}

.angucomplete-title {
    height: 38px;
    padding-top: 10px;
}

.angucomplete-image {
    border-style: none;
}