<div ng-controller="SearchController">
  <h3 class="col-md-12 text-center"><!--Or s-->Suggestions</h3>
  <div class="col-sm-offset-2 col-sm-8">
    <form name="searchForm" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <!--
          <label for="search">Search</label>
          <input type="text" id="search" name="search" class="form-control" ng-model="credentials.search" placeholder="What do you need to search?" required>
          <div ng-messages="searchForm.search.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Search text is required.</p>
          </div>
          -->

          <div class="input-group">
            <div class="input-group-btn">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Title&nbsp;<span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">Title</a></li>
                <li><a href="#">Host</a></li>
                <li><a href="#">Topic</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Channel</a></li>
              </ul>
            </div><!-- /btn-group -->
            <input type="text" class="form-control" placeholder="Search" aria-label="...">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search" ng-click="onStartSearch()" aria-hidden="true"></i></span>
          </div><!-- /input-group -->
          </div>

        </div>
      </fieldset>
    </form>
  </div>
</div>