<div ng-controller="TagsController">
  <h3 class="col-md-12 text-center">Tags</h3>
  <div class="col-sm-offset-2 col-sm-8">
    <form name="tagsForm" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <label for="search">Search</label>
          <angucomplete-alt id="search"
            placeholder="Search"
            pause="400"
            selected-object="suggestionSelected"
            remote-api-handler="loadSuggestions"
            title-field="text"
            image-field="image"
            minlength="3"
            input-class="form-control search"
            match-class="highlight"
            />
        </div>

        <div class="form-group" show-errors>
          <label for="tags">Tags</label>
          <tags-input ng-model="tags" replace-spaces-with-dashes="false">
            <auto-complete  source="loadTags($query)"
                            min-length="3"
                            load-on-focus="false"
                            load-on-empty="false"
                            max-results-to-show="20">
            </auto-complete>
          </tags-input>
        </div>

        <div class="form-group" show-errors>
          <div class="input-group">
            <div class="input-group-btn dropdown">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-bind="searchType"><span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#" ng-click="searchType = Changed('Title')">Title</a></li>
                <li><a href="#" ng-click="searchTypeChanged('Tag')">Tag</a></li>
                <li><a href="#" ng-click="searchTypeChanged('Host')">Host</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#" ng-click="searchTypeChanged('Channel')">Channel</a></li>
              </ul>
            </div>
            
            <input type="text" class="form-control" placeholder="Search" aria-label="...">
            
            <span class="input-group-addon"><i class="glyphicon glyphicon-search" ng-click="onStartSearch()" aria-hidden="true"></i></span>
          </div>
          </div>

        </div>


      </fieldset>
    </form>
  </div>
</div>