<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test Bootstrap</title>
    <link href="./bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="./bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" type="text/css" />
    <link href="./main.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <section class="container">
      <h1>Test Bootstrap</h1>
      <div id="test-bootstrap">

      <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Sign-in</h3>
          </div>
          <div class="panel-body">
              <form name="userForm" ng-submit="signin(userForm.$valid)" class="signin" novalidate autocomplete="off">
                <fieldset>
                  <div class="form-group" show-errors>
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" class="form-control" ng-model="credentials.username" placeholder="Username" lowercase required>
                    <div ng-messages="userForm.username.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">Username is required.</p>
                    </div>
                  </div>
                  <div class="form-group" show-errors>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control" ng-model="credentials.password" placeholder="Password" required>
                    <div ng-messages="userForm.password.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">Password is required.</p>
                    </div>
                  </div>

                  <alert type="danger" ng-show="error" class="text-left text-danger">
                    <span ng-bind="error"></span>
                  </alert>
                </fieldset>
              </form>
          </div>
          <div class="panel-footer">
            <div class="text-right form-group">
              <a ui-sref="authentication.signup">Sign up</a>
              &nbsp; or&nbsp;
              <button type="submit" class="btn btn-primary">Sign in</button>
            </div>

            <div class="text-right forgot-password">
              <a ui-sref="password.forgot">Forgot your password?</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="./bower_components/jquery/dist/jquery.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <script src="./test-bootstrap.js"></script>

    </body>
</html>

<!--
        <div class="list-group row">

          <div class="list-group-item col-xs-12 col-sm-6 col-md-4">
            <div class="row">
              <div class="col-xs-3 col-sm-5 text-center">
                <img class="img-responsive img-circle" src="./male-avatar-2.jpg">
              </div>
              <div class="col-xs-9 col-sm-7">
                <h4 class="list-group-item-heading" >Roth IRA</h4>
                <small class="list-group-item-text">
                  <b>Host:</b>
                  <span>Bob Senior</span>
                  </br>
                  <b>Category:</b>
                  <span>Investments</span>
                  </br>
                  <b>Starts:</b>
                  <span>May 16, 2015 3:15:00 AM</span>
                  </br>
                  <b>Ends:</b>
                  <span>May 16, 2015 3:55:00 PM</span>
                </small>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-3 col-sm-5">
                <div class="ratings">
                  <a href="#" class="btn btn-default btn-star">
                    <span class="glyphicon glyphicon-star"></span> 
                  </a>
                  <a href="#" class="btn btn-default btn-star">
                    <span class="glyphicon glyphicon-star"></span> 
                  </a>
                  <a href="#" class="btn btn-default btn-star">
                    <span class="glyphicon glyphicon-star"></span> 
                  </a>
                  <a href="#" class="btn btn-default btn-star">
                    <span class="glyphicon glyphicon-star-empty"></span> 
                  </a>
                  <a href="#" class="btn btn-default btn-star">
                    <span class="glyphicon glyphicon-star-empty"></span> 
                  </a>
                </div>
              </div>
              <div class="col-xs-9 col-sm-7">
                <div class="actions">
                  <a href="#" class="btn btn-info btn-circle">
                    <span class="glyphicon glyphicon-phone-alt"></span> 
                  </a>
                  <a href="#" class="btn btn-success btn-circle">
                    <span class="glyphicon glyphicon-pencil"></span> 
                  </a>
                  <a href="#" class="btn btn-danger btn-circle">
                    <span class="glyphicon glyphicon-remove"></span> 
                  </a>
                </div>
              </div>
            </div>

          </div>

          <div class="list-group-item col-xs-12 col-sm-6 col-md-4">
            <div class="row">
              <div class="col-xs-3 col-sm-5 text-center">
                <img class="img-responsive img-circle" src="./male-avatar-2.jpg">
              </div>
              <div class="col-xs-9 col-sm-7">
                <h4 class="list-group-item-heading" >Roth IRA</h4>
                <small class="list-group-item-text">
                  <b>Host:</b>
                  <span>Bob Senior</span>
                  </br>
                  <b>Category:</b>
                  <span>Investments</span>
                  </br>
                  <b>Starts:</b>
                  <span>May 16, 2015 3:15:00 AM</span>
                  </br>
                  <b>Ends:</b>
                  <span>May 16, 2015 3:55:00 PM</span>
                </small>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-3 col-sm-5 ratings">
                <a href="#" class="btn btn-default btn-star">
                  <span class="glyphicon glyphicon-star"></span> 
                </a>
                <a href="#" class="btn btn-default btn-star">
                  <span class="glyphicon glyphicon-star"></span> 
                </a>
                <a href="#" class="btn btn-default btn-star">
                  <span class="glyphicon glyphicon-star"></span> 
                </a>
                <a href="#" class="btn btn-default btn-star">
                  <span class="glyphicon glyphicon-star-empty"></span> 
                </a>
                <a href="#" class="btn btn-default btn-star">
                  <span class="glyphicon glyphicon-star-empty"></span> 
                </a>
              </div>
              <div class="col-xs-9 col-sm-7">
                <div class="actions">
                  <a href="#" class="btn btn-success btn-circle">
                    <span class="glyphicon glyphicon-plus"></span> 
                  </a>
                </div>
              </div>
            </div>

          </div>

          <div class="list-group-item col-xs-12 col-sm-6 col-md-4">
            <div class="row">
              <div class="col-xs-3 col-sm-5 text-center">
                <img class="img-responsive img-circle" src="./male-avatar-2.jpg">
              </div>
              <div class="col-xs-9 col-sm-7">
                <h4 class="list-group-item-heading" >Roth IRA</h4>
                <small class="list-group-item-text">
                  <b>Host:</b>
                  <span>Bob Senior</span>
                  </br>
                  <b>Category:</b>
                  <span>Investments</span>
                  </br>
                  <b>Starts:</b>
                  <span>May 16, 2015 3:15:00 AM</span>
                  </br>
                  <b>Ends:</b>
                  <span>May 16, 2015 3:55:00 PM</span>
                  </small>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-3 col-sm-5 ratings">
                <a href="#" class="btn btn-default btn-star">
                  <span class="glyphicon glyphicon-star"></span> 
                </a>
                <a href="#" class="btn btn-default btn-star">
                  <span class="glyphicon glyphicon-star"></span> 
                </a>
                <a href="#" class="btn btn-default btn-star">
                  <span class="glyphicon glyphicon-star"></span> 
                </a>
                <a href="#" class="btn btn-default btn-star">
                  <span class="glyphicon glyphicon-star-empty"></span> 
                </a>
                <a href="#" class="btn btn-default btn-star">
                  <span class="glyphicon glyphicon-star-empty"></span> 
                </a>
              </div>
              <div class="col-xs-9 col-sm-7">
                <div class="actions">
                  <a href="#" class="btn btn-info btn-circle">
                    <span class="glyphicon glyphicon-phone-alt"></span> 
                  </a>
                  <a href="#" class="btn btn-warning btn-circle">
                    <span class="glyphicon glyphicon-minus"></span> 
                  </a>
                </div>
              </div>
            </div>

          </div>
        </div>

-->