.ratings {
    margin-top: 10px;
}

.actions {
  float: right;
}

.btn-star {
  color: maroon;
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 3px 0;
  font-size: 11px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.panel {
  box-shadow: 5px 5px #777;
}

