<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Test Marionette</title>

        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
            th, td {
                padding: 2px;
            }
        </style>
    </head>
    <body>
        <h1>Test Marionette</h1>
        <div id="main-content">
        </div>

        <script src="./bower_components/jquery/dist/jquery.js"></script>
        <script src="./bower_components/underscore/underscore.js"></script>
        <script src="./bower_components/backbone/backbone.js"></script>
        <script src="./bower_components/backbone.babysitter/lib/backbone.babysitter.js"></script>
        <script src="./bower_components/marionette/lib/core/backbone.marionette.js"></script>

        <script src="./tests.js"></script>


        <script id="row-template" type="template">
            <td> <%= name %> </td>
            <td> <%= age %> </td>
        </script>

        <script id="table-template" type="template">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                    </tr>
                </thead>

                <tbody>
                </tbody>

                <tfoot>
                    <tr>
                        <td colspan="3">some footer information</td>
                    </tr>
                </tfoot>
            </table>
        </script>
      </body>
</html>